{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block main %}
<h1>Réserver une séance</h1>
<form action="{{ path('app_reservation') }}" method="post">
    <fieldset>
        <legend>Informations</legend>
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" name="firstname" placeholder="Écrire ici...">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" placeholder="Écrire ici...">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Écrire ici...">
    </fieldset>
    <fieldset>
    <legend>Date</legend>
    <input type="date" id="date" name="date">
        <label for="time">Heure</label>
        <input type="time" id="time" name="time">
    </fieldset>
    <fieldset>
        <legend>Sujet de la séance</legend>
        <input type="radio" id="initiation" name="initiation" value="S">
        <label for="initiation">Initiation</label>
        <br>
        <input type="radio" id="purification" name="purification" value="S">
        <label for="purification">Purification maison</label>
        <br>
        <input type="radio" id="lithotherapie" name="lithotherapie" value="S">
        <label for="lithotherapie">Lithothérapie</label>
        <br>
        <input type="radio" id="tirage" name="tirage" value="S">
        <label for="tirage">Tirage de carte</label>
        <br>
        <div id="autre">
            <input type="radio" id="autre" name="autre" value="S">
            <label for="autre">Autre (préciser)</label>
            <input type="text" id="autre" name="autre" placeholder="Écrire ici...">
        </div>
        <br>
    </fieldset>
    <button type="submit">Confirmer la réservation</button>
</form>
{% endblock %}
